.add-state-container p {
  color: white;
  font-size: 20px;
}

.add-state-container {
  margin-top: 40px;
}

.add-state-container input {
  padding: 4px;
  border-radius: 5px;
  margin-right: 5px;
}

.add-state-container button {
 padding: 4px ;
 border-radius: 5px;
}

.error {
  background-color: red;
  width: 600px;
  height: 40px;
  display: flex;
  border-radius: 5px;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}